mixin percentage(title, id)
  div.percentage.slider
    p.slider__subtitle !{title}
    div.slider__slider(id=`price-${id}`)
    div.slider__values
      input.slider__value(type="text", id=`price-${id}-value`, readonly)