.filters {
  max-width: 1434px;
  width: 100%;
  margin: 9px auto 0;
}
.controls {
  position: relative;
  display: flex;
  column-gap: 25px;
  max-width: 1420px;
  width: 100%;
}
.select {
  &__heading {
    margin-top: 15px;
    display: flex;
    align-items: center;
  }
  &__results {
    font-size: 16px;
    line-height: 135%;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 5px;
    margin-left: 4px;
  }
  &__tags {
    list-style: none;
    display: flex;
    column-gap: 10px;
    margin-left: 30px;
  }
}