include ../core/components/test-2/index.pug

doctype html
html.layout(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/index.css")
    block title

  body.body.layout__body
    block beforeWorkarea

    main.main.layout__main
      include ../core/components/test/index.pug

      +test2({
        title: 'Hello again'
      })

      block workarea

    block afterWorkarea
      
    script(src="js/index.js")
