div.modal.modal_opened
  p.modal__subtitle Sort by:
  ul.modal__list 
    li.modal__item
      div.modal__icon-wrapper
        img.modal__icon(src="../../assets/media/sort-date.svg", alt="sort by new date")
      p Date (New first)
    li.modal__item
      div.modal__icon-wrapper
        img.modal__icon(src="../../assets/media/sort-date.svg", alt="sort by old date")
      p Date (Old first)
    li.modal__item
      div.modal__icon-wrapper
        img.modal__icon(src="../../assets/media/sort-price-high.svg", alt="sort by high price")
      p Price (High first)
    li.modal__item
      div.modal__icon-wrapper
        img.modal__icon(src="../../assets/media/sort-price-low.svg", alt="sort by low price")
      p Price (Low first)
    li.modal__item
      div.modal__icon-wrapper
        img.modal__icon-high(src="../../assets/media/sort-high.svg", alt="sort by thc high")
        img.modal__icon(src="../../assets/media/sort-thc.svg", alt="sort by thc")
      p Total THC (High first)
    li.modal__item
      div.modal__icon-wrapper
        img.modal__icon-low(src="../../assets/media/sort-low.svg", alt="sort by thc low")
        img.modal__icon(src="../../assets/media/sort-thc.svg", alt="sort by thc")
      p Total THC (Low first)
    li.modal__item
      div.modal__icon-wrapper
        img.modal__icon-high(src="../../assets/media/sort-high.svg", alt="sort by cbd high")
        img.modal__icon(src="../../assets/media/sort-cbd.svg", alt="sort by cbd")
      p Total CBD (High first)
    li.modal__item
      div.modal__icon-wrapper
        img.modal__icon-low(src="../../assets/media/sort-low.svg", alt="sort by cbd low")
        img.modal__icon(src="../../assets/media/sort-cbd.svg", alt="sort by cbd")
      p Total CBD (Low first)