@use '../core/config/scss' as config;
@use '../core/lib/scss' as lib;
@use '../core/ui/layout';
@use '../components/components';
@use '../sections/sections';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: config.$colors-white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: config.$colors-black;
  }    
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #171722;
  font-family: "Proxima Nova", sans-serif;
}
