div.range.slider
  p.slider__subtitle Price Range
  div.slider__slider#price-range
  div.slider__values
    input.slider__value#price-range-min(type="text")
    input.slider__value#price-range-max(type="text", readonly)