.range {
  max-width: 227px;
  width: 100%;
}

.slider {
  max-width: 227px;
  width: 100%;
  display: flex;
  flex-direction: column;
  &__subtitle {
    font-size: 16px;
    line-height: 135%;
    font-weight: 600;
    color: #FFFFFF;
  }
  &__slider {
    margin-top: 21px;
  }
  &__values {
    display: flex;
    max-width: 227px;
    width: 100%;
    margin-top: 14px;
  }
  &__value {
    background-color: #212129;
    outline: 1px solid #606060;
    border: none;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 14px;
    line-height: 135%;
    max-width: 55px;
    height: 20px;

    &:last-of-type {
      margin-left: auto;
    }

    &:read-only {
      cursor: default;
      color: #959595;
    }
  }
}

.filters .noUi-handle {
  border-radius: 50%;
  background: linear-gradient(150deg, #85d62d 0%, #6bab2b 100%);
  box-shadow: inset 3px 5px 12px 0 rgba(255, 255, 255, 0.2), 0 10px 27px 0 rgba(30, 29, 46, 0.3);
}

.filters .noUi-handle:before, .filters .noUi-handle:after {
  display: none;
}
.filters .noUi-horizontal .noUi-handle {
  cursor: grab;
  width: 16px;
  height: 16px;
  box-shadow: unset;
  border: unset;
  right: -16px;
}
.filters .noUi-horizontal {
  height: 4px;
}
.filters .noUi-target {
  border: unset;
  box-shadow: none;
  background-color: #30303D;
}
.filters .noUi-connect {
  box-shadow: 0px 3px 15px 0px rgba(132, 213, 44, .31);
  background-color: #7ACB22;
}
.filters .noUi-horizontal .noUi-tooltip {
  background-color: #30303D;
  border: unset;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  padding: 5px;
  height: 25px;
  bottom: 180%;

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: calc(50% - 5px);
    transform: rotate(45deg);
    display: block;
    width: 10px;
    height: 10px;
    background-color: #30303D;
    z-index: -1;
  }
}