doctype html
html(lang="ru")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  link(rel="stylesheet", href="css/index.css")

  title
    block title

  body
    .layout
      .layout__header
        block beforeWorkarea

      .layout__main
        block workarea

      .layout__footer
        block afterWorkarea
      

    script(src="js/index.js")
