div.accordion
  div.accordion__wrapper
    div.accordion__heading
      input.accordion__input(type='checkbox', id="list-1", data-list-number="1")
      label.accordion__button(for="list-1") Classification
    ul.accordion__list.accordion__list_opened
      li.accordion__item 
        label.accordion__item-label 100% Indica
          input.accordion__item-input(type="checkbox", checked=true, data-accordion-number="1")
          span.accordion__item-check
      li.accordion__item
        label.accordion__item-label 100% Sativa
            input.accordion__item-input(type="checkbox", data-accordion-number="2")
            span.accordion__item-check
      li.accordion__item 
        label.accordion__item-label >50% Indica
          input.accordion__item-input(type="checkbox", checked=true, data-accordion-number="3")
          span.accordion__item-check
      li.accordion__item
        label.accordion__item-label >50% Sativa
            input.accordion__item-input(type="checkbox", data-accordion-number="4")
            span.accordion__item-check

  div.accordion__wrapper
    div.accordion__heading
      input.accordion__input(type='checkbox', id="list-2", data-list-number="2")
      label.accordion__button(for="list-2") Production Method
    ul.accordion__list.accordion__list_opened
      li.accordion__item 
        label.accordion__item-label Indoor
          input.accordion__item-input(type="checkbox", checked=true, data-accordion-number="5")
          span.accordion__item-check
      li.accordion__item
        label.accordion__item-label Outdoor
            input.accordion__item-input(type="checkbox", data-accordion-number="6")
            span.accordion__item-check
      li.accordion__item 
        label.accordion__item-label Greenhouse
          input.accordion__item-input(type="checkbox", data-accordion-number="7")
          span.accordion__item-check
      li.accordion__item
        label.accordion__item-label Light Deprivation
            input.accordion__item-input(type="checkbox", data-accordion-number="8")
            span.accordion__item-check
      li.accordion__item
        label.accordion__item-label Mixed Light
            input.accordion__item-input(type="checkbox", data-accordion-number="9")
            span.accordion__item-check
      li.accordion__item
        label.accordion__item-label Other
            input.accordion__item-input(type="checkbox", data-accordion-number="10")
            span.accordion__item-check

  div.accordion__wrapper
    div.accordion__heading
      input.accordion__input(type='checkbox', id="list-3", data-list-number="3")
      label.accordion__button(for="list-3") Size
    ul.accordion__list.accordion__list_opened
      li.accordion__item 
        label.accordion__item-label Flower
          input.accordion__item-input(type="checkbox", checked=true, data-accordion-number="11")
          span.accordion__item-check
      li.accordion__item
        label.accordion__item-label Pre-Roll Flower
            input.accordion__item-input(type="checkbox", data-accordion-number="12")
            span.accordion__item-check
      li.accordion__item 
        label.accordion__item-label Pre-Roll Infused
          input.accordion__item-input(type="checkbox", data-accordion-number="13")
          span.accordion__item-check
      li.accordion__item
        label.accordion__item-label Pre-Roll Leaf
            input.accordion__item-input(type="checkbox", data-accordion-number="14")
            span.accordion__item-check
      li.accordion__item
        label.accordion__item-label Shake
            input.accordion__item-input(type="checkbox", data-accordion-number="15")
            span.accordion__item-check
      li.accordion__item
        label.accordion__item-label Smalls
            input.accordion__item-input(type="checkbox", data-accordion-number="16")
            span.accordion__item-check
      li.accordion__item 
        label.accordion__item-label Trim
          input.accordion__item-input(type="checkbox", data-accordion-number="17")
          span.accordion__item-check
      li.accordion__item
        label.accordion__item-label Shake
            input.accordion__item-input(type="checkbox", data-accordion-number="18")
            span.accordion__item-check
      li.accordion__item
        label.accordion__item-label Keef
            input.accordion__item-input(type="checkbox", data-accordion-number="19")
            span.accordion__item-check
      li.accordion__item
        label.accordion__item-label Fresh Frozen
            input.accordion__item-input(type="checkbox", data-accordion-number="20")
            span.accordion__item-check